/* COMMON */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('roboto-black.ttf') format('truetype');
}
body, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
body { background: #202020 }
* { user-select: none }


/* CAMERA */
#camera {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


/* OVERLAY */
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#overlay .dialog {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  background: #21a8c6;
  color: #fff;
  border: solid 2px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

#overlay .result {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0;
  color: #ff0;
  -webkit-text-stroke: 1.7px #000;
  filter: drop-shadow(-2px 1px 0 #fff) drop-shadow(2px 1px 0 #fff);
  text-align: center;
  font-size: 40px;
  display: none;
}
#overlay .result::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 20px);
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: url('images/hotdog.png') no-repeat center;
  background-size: 80%;
  border-radius: 50%;
  z-index: -1;
}
#overlay .result.hotdog,
#overlay .result.hotdog::after {
  background-color: #0f0;
}
#overlay .result.not-hotdog,
#overlay .result.not-hotdog::after {
  background-color: #f00;
}
#overlay .result.not-hotdog::before {
  content: '';
  position: absolute;
  top: calc(100% - 20px);
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: url('images/cross.png') no-repeat center;
  background-size: 70%;
}
